<h1>Yamas and Niyamas</h1>

<table class="table table-bordered">


<% @commitments.each do |commitment| %>
  <tr>
    <td><%= commitment.sanskrit.titleize %></td>
    <td><%= commitment.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
